<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tara 5  - UAPA</title>
</head>
<body>
    <h1>Tarea 5 - Desarrollo Web</h1>

    <ul>
        <li><h2>Universidad: UAPA</h2></li>
        <li><h2>Yo:          Julian Segura</h2></li>
        <li><h2>Matricula:   100026237</h2></li>
        <li><h2>Facilitador: Diogenes Martinez</h2></li>
    </ul>
    
</body>
</html>