<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queries with Flask</title>
    <link rel="stylesheet" href="../static/styles/main.css">
</head>

<body>
    <h1>Tarea 6 - Desarrollo Web - Consultas con FLASK</h1>
    <br>
    <br>
    <form method="post"> 
        <label for="txtNombre">Nombre Impuesto</label>
        <input type="text" id="txtNombre" name="txtNombre" placeholder="Buscar impuesto"/>
        <input type="submit" value="Buscar" style="cursor:pointer;" />
        
        <br>
        <br>
        <table>
            <tr>
                <th>Id</th>
                <th>Nombre Impuesto</th>
                <th>Nombre Corto</th>
                <th>Tasa Empleado</th>
                <th>Tasa Empresa</th>
                <th>Monto Fijo</th>
                <th>Activo</th>
            </tr>

            {% for impuesto in impuestos %}
            <tr>
                <td>{{impuesto[0]}}</td><!--id-->
                <td>{{impuesto[1]}}</td><!--Nombre-->
                <td>{{impuesto[2]}}</td><!--Nombre corto-->
                <td>{{impuesto[3]}} %</td><!--Tasa empleado-->
                <td>{{impuesto[4]}} %</td><!--Tasa empresa-->
                <td>{{"RD$ {:,.2f}".format(impuesto[5])}}</td><!--Monto fijo-->
                <td>{{impuesto[6]}}</td><!--Activo-->
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>